@import url(https://fonts.googleapis.com/css?family=Poppins);
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
:root{
    --background-color: #222831;
    --color: #588157;
    --hover-color: #BFEA7C;
    --text-color: #fff; 
    --text-color2: black;
    }
body{
    height: 100vh;
    background: #EEEEEE;
    }

/*---------------------SIDEBAR----------------------*/
.sidebar{
    float: left;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--background-color);
    z-index: 100;
    cursor: pointer; 
}
.sidebar.close {
    width: 88px;
    }
.sidebar .text{
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    }
.sidebar.close .text{
    opacity: 0;
    }
.sidebar.close .image{
    opacity: 0;
    }
.sidebar .menu{
    margin-top: -45px;
    }
.sidebar .image{
    min-width: 30px;
    display: flex;
    align-items: center;
    }
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    }
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
    }
.sidebar li .icon,
.sidebar li .text{
    color: #fff;
    }
.sidebar header{
    position: relative;
    }
.sidebar .image-text img {
    width: 150px;
    }
.sidebar header .image-text{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    }
header .image-text .header-text{
    display: flex;
    flex-direction: column;
    }
.header-text .name{
    font-weight: 600;
    }
.sidebar header .toggle{
    position: absolute;
    color:var(--hover-color);
    top: 60%;
    left: 90%;
    font-size: 22px;
    line-height: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    }
.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    }
.sidebar li a:hover{
    background: var(--hover-color);
    }
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--text-color2);
    }
.sidebar .menu-bar{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem; 
    }
.sidebar.close .toggle{
    left: 30%;
    }

/*---------------------DASHBOARD HEADER---------------------*/
.home {
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    position: relative;
    }
.home .userheader{
    padding: 35px 40px;
    background-color: var(--color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
.home .userheader h1{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    }
.home .userheader h2{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 82%;
    margin-top: -27px;
    }
.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
    }
.bottom-content{
    margin-top: 100px;
    }
